@model DapperTrial.Models.ViewModel.ForgotPasswordViewModel

<form asp-controller="Login" asp-action="ForgotPassword" id="mainForm"
        data-ajax="true" data-ajax-method="POST"
          data-ajax-success="OnSuccess">
      
    <div  id="fpf" style="padding : 10px">

        <div class="row text-center">
            <div class="form-group col-md-12">
                @Html.LabelFor(m=>m.Email)
                @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @id = "emailconfirm", @class = "form-control", @placeholder = "Email" } })
            </div>
            


        </div>
        <div class="row text-center">
            <div class="btn-group d-flex justify-context-centre">
                <button class="btn btn-primary" type="submit" id="btn-submit">Confirm Changes</button>
             <button class="btn btn-danger" type="button" id="btn-cancel">Cancel</button>
            </div>

        </div>
    </div>
</form> 
